<launch>
	<node name="ar_pose_03" pkg="ar_pose" type="ar_single" respawn="false" output="screen">
		<param name="marker_pattern" type="string" value="$(find ar_pose)/data/4x4/4x4_1.patt"/>
		<param name="marker_width" type="double" value="133"/>
		<param name="marker_center_x" type="double" value="0.0"/>
		<param name="marker_center_y" type="double" value="0.0"/>
		<param name="threshold" type="int" value="100"/>
		<param name="use_history" type="bool" value="true"/>
		<param name="marker_frame" type="string" value="/turtlebot04/ar_marker" />
		<param name="camera_image_topic" type="string" value="/turtlebot03/camera/rgb/image_raw" />
		<param name="camera_info_topic" type="string" value="/turtlebot03/camera/rgb/camera_info" />
      </node>
      <node name="ar_pose_04" pkg="ar_pose" type="ar_single" respawn="false" output="screen">
            <param name="marker_pattern" type="string" value="$(find ar_pose)/data/4x4/4x4_6.patt"/>
            <param name="marker_width" type="double" value="133"/>
            <param name="marker_center_x" type="double" value="0.0"/>
            <param name="marker_center_y" type="double" value="0.0"/>
            <param name="threshold" type="int" value="100"/>
            <param name="use_history" type="bool" value="true"/>
        <param name="marker_frame" type="string" value="/turtlebot03/ar_marker" />
        <param name="camera_image_topic" type="string" value="/turtlebot04/camera/rgb/image_raw" />
        <param name="camera_info_topic" type="string" value="/turtlebot04/camera/rgb/camera_info" />
      </node>
</launch>
